In [1]:
import pandas as pd
import numpy as np

In [2]:
data= pd.read_csv('forestfires.csv')
data

,month,day,FFMC,DMC,DC,ISI,temp,RH,wind,rain,...,monthfeb,monthjan,monthjul,monthjun,monthmar,monthmay,monthnov,monthoct,monthsep,size_category
0,mar,fri,86.2,26.2,94.3,5.1,8.2,51,6.7,0.0,...,0,0,0,0,1,0,0,0,0,small
1,oct,tue,90.6,35.4,669.1,6.7,18.0,33,0.9,0.0,...,0,0,0,0,0,0,0,1,0,small
2,oct,sat,90.6,43.7,686.9,6.7,14.6,33,1.3,0.0,...,0,0,0,0,0,0,0,1,0,small
3,mar,fri,91.7,33.3,77.5,9.0,8.3,97,4.0,0.2,...,0,0,0,0,1,0,0,0,0,small
4,mar,sun,89.3,51.3,102.2,9.6,11.4,99,1.8,0.0,...,0,0,0,0,1,0,0,0,0,small
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
512,aug,sun,81.6,56.7,665.6,1.9,27.8,32,2.7,0.0,...,0,0,0,0,0,0,0,0,0,large
513,aug,sun,81.6,56.7,665.6,1.9,21.9,71,5.8,0.0,...,0,0,0,0,0,0,0,0,0,large
514,aug,sun,81.6,56.7,665.6,1.9,21.2,70,6.7,0.0,...,0,0,0,0,0,0,0,0,0,large
515,aug,sat,94.4,146.0,614.7,11.3,25.6,42,4.0,0.0,...,0,0,0,0,0,0,0,0,0,small
516,nov,tue,79.5,3.0,106.7,1.1,11.8,31,4.5,0.0,...,0,0,0,0,0,0,1,0,0,small

In [3]:
data.columns

Index(['month', 'day', 'FFMC', 'DMC', 'DC', 'ISI', 'temp', 'RH', 'wind',
       'rain', 'area', 'dayfri', 'daymon', 'daysat', 'daysun', 'daythu',
       'daytue', 'daywed', 'monthapr', 'monthaug', 'monthdec', 'monthfeb',
       'monthjan', 'monthjul', 'monthjun', 'monthmar', 'monthmay', 'monthnov',
       'monthoct', 'monthsep', 'size_category'],
      dtype='object')

In [4]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 517 entries, 0 to 516
Data columns (total 31 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   month          517 non-null    object
 1   day            517 non-null    object
 2   FFMC           517 non-null    float64
 3   DMC            517 non-null    float64
 4   DC             517 non-null    float64
 5   ISI            517 non-null    float64
 6   temp           517 non-null    float64
 7   RH             517 non-null    int64
 8   wind           517 non-null    float64
 9   rain           517 non-null    float64
 10  area           517 non-null    float64
 11  dayfri         517 non-null    int64
 12  daymon         517 non-null    int64
 13  daysat         517 non-null    int64
 14  daysun         517 non-null    int64
 15  daythu         517 non-null    int64
 16  daytue         517 non-null    int64
 17  daywed         517 non-null    int64
 18  monthapr       517 non-null    int64
 19  monthaug       517 non-null    int64
 20  monthdec       517 non-null    int64
 21  monthfeb       517 non-null    int64
 22  monthjan       517 non-null    int64
 23  monthjul       517 non-null    int64
 24  monthjun       517 non-null    int64
 25  monthmar       517 non-null    int64
 26  monthmay       517 non-null    int64
 27  monthnov       517 non-null    int64
 28  monthoct       517 non-null    int64
 29  monthsep       517 non-null    int64
 30  size_category  517 non-null    object
dtypes: float64(8), int64(20), object(3)
memory usage: 125.3+ KB

In [5]:
from sklearn.preprocessing import LabelEncoder

In [6]:
le= LabelEncoder()
data['month']= le.fit_transform(data['month'])
data['day']= le.fit_transform(data['day'])
data['size_category']= le.fit_transform(data['size_category'])
data

,month,day,FFMC,DMC,DC,ISI,temp,RH,wind,rain,...,monthfeb,monthjan,monthjul,monthjun,monthmar,monthmay,monthnov,monthoct,monthsep,size_category
0,7,0,86.2,26.2,94.3,5.1,8.2,51,6.7,0.0,...,0,0,0,0,1,0,0,0,0,1
1,10,5,90.6,35.4,669.1,6.7,18.0,33,0.9,0.0,...,0,0,0,0,0,0,0,1,0,1
2,10,2,90.6,43.7,686.9,6.7,14.6,33,1.3,0.0,...,0,0,0,0,0,0,0,1,0,1
3,7,0,91.7,33.3,77.5,9.0,8.3,97,4.0,0.2,...,0,0,0,0,1,0,0,0,0,1
4,7,3,89.3,51.3,102.2,9.6,11.4,99,1.8,0.0,...,0,0,0,0,1,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
512,1,3,81.6,56.7,665.6,1.9,27.8,32,2.7,0.0,...,0,0,0,0,0,0,0,0,0,0
513,1,3,81.6,56.7,665.6,1.9,21.9,71,5.8,0.0,...,0,0,0,0,0,0,0,0,0,0
514,1,3,81.6,56.7,665.6,1.9,21.2,70,6.7,0.0,...,0,0,0,0,0,0,0,0,0,0
515,1,2,94.4,146.0,614.7,11.3,25.6,42,4.0,0.0,...,0,0,0,0,0,0,0,0,0,1
516,9,5,79.5,3.0,106.7,1.1,11.8,31,4.5,0.0,...,0,0,0,0,0,0,1,0,0,1

In [7]:
data.columns

Index(['month', 'day', 'FFMC', 'DMC', 'DC', 'ISI', 'temp', 'RH', 'wind',
       'rain', 'area', 'dayfri', 'daymon', 'daysat', 'daysun', 'daythu',
       'daytue', 'daywed', 'monthapr', 'monthaug', 'monthdec', 'monthfeb',
       'monthjan', 'monthjul', 'monthjun', 'monthmar', 'monthmay', 'monthnov',
       'monthoct', 'monthsep', 'size_category'],
      dtype='object')

In [8]:
from sklearn.model_selection import train_test_split
x= data.drop('size_category',axis=1)
y= data['size_category']
x.shape,y.shape
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2,random_state=7)

In [9]:
# Feature selection using DT
from sklearn.tree import DecisionTreeClassifier
dt_model = DecisionTreeClassifier()
dt_model.fit(x_train,y_train)
dt_model.feature_importances_

array([0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 1., 0., 0., 0., 0., 0., 0.,
       0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.])

In [10]:
l=dt_model.feature_importances_>0.1
l
# using Tree base feature selection we got that only "area" attribute has 100 % impact for classifying size_category.

array([False, False, False, False, False, False, False, False, False,
       False,  True, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False])

In [11]:
x_train.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 413 entries, 115 to 175
Data columns (total 30 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   month     413 non-null    int32
 1   day       413 non-null    int32
 2   FFMC      413 non-null    float64
 3   DMC       413 non-null    float64
 4   DC        413 non-null    float64
 5   ISI       413 non-null    float64
 6   temp      413 non-null    float64
 7   RH        413 non-null    int64
 8   wind      413 non-null    float64
 9   rain      413 non-null    float64
 10  area      413 non-null    float64
 11  dayfri    413 non-null    int64
 12  daymon    413 non-null    int64
 13  daysat    413 non-null    int64
 14  daysun    413 non-null    int64
 15  daythu    413 non-null    int64
 16  daytue    413 non-null    int64
 17  daywed    413 non-null    int64
 18  monthapr  413 non-null    int64
 19  monthaug  413 non-null    int64
 20  monthdec  413 non-null    int64
 21  monthfeb  413 non-null    int64
 22  monthjan  413 non-null    int64
 23  monthjul  413 non-null    int64
 24  monthjun  413 non-null    int64
 25  monthmar  413 non-null    int64
 26  monthmay  413 non-null    int64
 27  monthnov  413 non-null    int64
 28  monthoct  413 non-null    int64
 29  monthsep  413 non-null    int64
dtypes: float64(8), int32(2), int64(20)
memory usage: 96.8 KB

In [18]:
# Feature selection Using RFE
from sklearn.feature_selection import RFE
from sklearn.linear_model import LogisticRegression
lr_model= LogisticRegression(max_iter=400,random_state=7)
rfe= RFE(lr_model,n_features_to_select=3)
# print(fit.ranking_) ==> [22 18 10 21 24  8 16 17 14 26  1  5 15  1  2  3  4 12 20 19  7  9 23  1 25 13 28 27 11  6]

In [13]:
new_x_train = x_train.iloc[:,[10,13,14,15,23]]
new_x_test =x_test.iloc[:,[10,13,14,15,23]]

In [15]:
from sklearn.svm import SVC
svm=SVC(kernel='rbf',random_state=0,gamma=0.1,C=1.0)
svm.fit(new_x_train,y_train)
svm.score(new_x_test,y_test)  #100 % testing accuracy

1.0

In [16]:
svm.score(new_x_train,y_train) # 99.75 % training accuracy

0.9975786924939467

In [19]:
# using RFE feature selection method:
# attributes ["area", "daysat", "daysun", "daythu", "monthjul"] has high impact in classifying size_category.